{% extends "base.html" %}
{% block title %}
    Управление метаданными
{% endblock %}

{% block speedbar %}

    <li>
        <a href="/admin/application/{{ application.alias }}/entity/create/" class="act_link">Создание сущности</a>
    </li>

{% endblock %}
{% block breadcrumb %}
    <li>
        <a title="" href="/admin/application/{{ application.alias }}/edit/">Приложения -
            "{{ application.name|truncatewords:2 }}"</a>
    </li>
    <li class="active">
        Управление метаданными
    </li>
{% endblock %}

{% block center_content %}

    <div id="listView" style="background-color:transparent;border:0; min-height: 600px">
        <table class="table" id="datatable_ext">
            <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
            </tr>
            </thead>
            <tbody>
            {% for item in entity %}
                <tr>
                    <td>
                        {% if entity_type == 'system' %}
                            <a href="/admin/application/{{ application.alias }}/entity/{{ item.TableName }}/" style="color: inherit;text-decoration: inherit;">
                                <img src="/media/{{ item.Image }}" alt="{{ item.Name }}" style="height:16px"/>
                            </a>
                        {% else %}
                            <a href="/admin/application/{{ application.alias }}/entity/{{ item.TableName }}/edit/" style="color: inherit;text-decoration: inherit;">
                                <img src="/media/{{ item.Image }}" alt="{{ item.Name }}" style="height:16px"/>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity_type == 'system' %}
                            <a href="/admin/application/{{ application.alias }}/entity/{{ item.TableName }}/" style="color: inherit;text-decoration: inherit;">
                                {{ item.Name }}
                            </a>
                        {% else %}
                            <a href="/admin/application/{{ application.alias }}/entity/{{ item.TableName }}/edit/" style="color: inherit;text-decoration: inherit;">
                                {{ item.Name }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
{% endblock %}