{% extends "base.html" %}
{% block title %}
    Управление расширениями - "{{ extension.Name }}"
{% endblock %}
{% block speedbar %}
    <li>
        <a href="/admin/application/{{ application.alias }}/entity/{{ extension.TableName }}/edit/" class="act_link">Редактировать
            метаданные</a>
    </li>
{% endblock %}
{% block breadcrumb %}
    <li>
        <a title="" href="/admin/application/{{ application.alias }}/edit/">Приложение -
            "{{ application.name|truncatewords:2 }}"</a>
    </li>
    <li class="active">
        Управление расширениями - "{{ extension.Name }}"
    </li>
{% endblock %}
{% block center_content %}
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                {{ extension.Name }}
            </div>
            <a href="/admin/application/{{ application.alias }}/extension/{{ extension.TableName }}/create/"
               class="pull-right btn">Создание записи</a>
        </div>
        <div class="grid-content">
            <table class="table" id="datatable_ext">
                <thead>
                <tr>
                    {% for field in extension_fields %}
                        {% if field.visible %}
                            <td>
                                {{ field.verbose_name }}{{ field.label }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for data in extension_data %}
                    <tr>
                        {% for field in extension_fields %}
                            {% for k,v in data.iteritems %}
                                {% if field.visible and k == field.name%}
                                    <td>
                                        <a href="/admin/application/{{ application.alias }}/extension/{{ extension.TableName }}/{{ data.key_field }}/edit/" style="color: inherit;text-decoration: inherit;">
                                            {% if field.name == "image" or field.name == "icon" or field.name == "picture" %}
                                                <img src="/media/{{ v }}" style="max-height: 70px; max-width: 200px"/>
                                            {% else %}
                                                {{ v }}
                                            {% endif %}
                                        </a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}